@import "tailwindcss";


@font-face {
    font-family: 'Vazirmatn-Regular';
    src: url('/fonts/Vazirmatn-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Vazirmatn-Medium';
    src: url('/fonts/Vazirmatn-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Vazirmatn-Bold';
    src: url('/fonts/Vazirmatn-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.vazirmatn {
    font-family: 'Vazirmatn-Regular';
}

.vazirmatn-medium {
    font-family: 'Vazirmatn-Medium';
}

.vazirmatn-bold {
    font-family: 'Vazirmatn-Bold';
}

div, section {
  background-color: var(--pico-background-color);
  color: var(--pico-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Vazirmatn-Regular';
}